.contactuspage {
  background-color: var(--white);
  min-height: 780px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactuspage > .responsive {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-holder {
  height: 550px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 60px 60px 60px 120px 60px;
  grid-row-gap: 15px;
  grid-column-gap: 0%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contactuspage > .responsive > p {
  width: 100%;
}
.form-holder > input {
  border: 1px var(--secondary-black) solid;
  border-top: 0px;
  background-color: var(--white);
  outline: 0px;
  caret-color: var(--primary-black);
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  font-size: 14px;
}
.form-holder > button {
  font-size: 30px;
  border: 0px;
  background-color: var(--secondary-black);
  color: var(--white);
}
.form-holder > button:hover {
  background-color: var(--white);
  color: var(--primary-black);
}

.form-holder > textarea {
  background-color: var(--white);
  border: 1px var(--secondary-black) solid;
  border-top: 0px;
  outline: 0px;
  caret-color: var(--primary-black);
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  font-size: 14px;
}

@media screen and (min-width: 992px) {
  .contactuspage {
    background-color: var(--white);
    min-height: 880px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contactuspage > .responsive {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-holder {
    height: 700px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 100px 100px 300px 100px;
    grid-row-gap: 25px;
    grid-column-gap: 10%;
    width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .contactuspage > .responsive > p {
    width: 40%;
  }
  .form-holder > input {
    border: 1px var(--secondary-black) solid;
    border-top: 0px;
    background-color: var(--white);
    outline: 0px;
    caret-color: var(--primary-black);
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    font-size: 16px;
  }
  .form-holder > button {
    font-size: 30px;
    border: 0px;
    background-color: var(--secondary-black);
    color: var(--white);
  }
  .form-holder > button:hover {
    background-color: var(--white);
    color: var(--primary-black);
  }

  .form-holder > textarea {
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: var(--white);
    border: 1px var(--secondary-black) solid;
    border-top: 0px;
    outline: 0px;
    caret-color: var(--primary-black);
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    font-size: 16px;
  }
}
