.partnersection {
    background-color: var(--primary-black);
    color: var(--white);
    min-height: 440px;
    display: flex;
    align-items: center;
}
.partnersection > .responsive{
    display: flex;
    align-items: center;
}
.partner-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 300px;
}
.partner-holder > h2{
    width: 100%;
    border-right: 0px;
    text-align: center;
}
.partner-holder > div{
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.partner-holder > div > div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 408px;
    height: 105px;
}
.partner-holder > div > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 204px;
    height: 105px;
}
.partner-holder > div img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

@media screen and (max-width: 420px) {
    .partner-holder > div > div:nth-child(1){
        width: 80%;
    }
    .partner-holder > div > div:nth-child(2){
        width: 60%;
    }
}
@media screen and (max-width: 350px) {
    .partner-holder > div > div:nth-child(1){
        width: 100%;
    }
    .partner-holder > div > div:nth-child(2){
        width: 75%;
    }
}

@media screen and (min-width: 992px) {
    .partnersection {
        background-color: var(--primary-black);
        min-height: 230px !important;
        display: flex;
        align-items: center;
    }
    .partnersection > .responsive{
        display: flex;
        align-items: center;
    }
    .partner-holder{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 120px;
    }
    .partner-holder > h2{
        width: 50%;
        border-right: 2px var(--white) solid;
        text-align: left;
    }
    .partner-holder > div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 105px;
    }
    .partner-holder > div > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        height: 105px;
    }
    .partner-holder > div > div:nth-child(1){
        width: 70%;
    }
    .partner-holder > div > div:nth-child(2){
        display: none;
    }
    .partner-holder > div img{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    .mob{
        display: none;
    }
}