.overview {
  min-height: 700px;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.overview > .responsive {
  background-color: var(--white);
  margin-top: 40px;
  margin-bottom: 40px;
}
.overview > .responsive > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

.overview > .responsive > div:nth-child(1) > div:nth-child(1) {
  height: 410px;
  width: 100%;
  display: block;
}

.overview > .responsive > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 24px;
  width: 100%;
  text-align: justify;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.overview > .responsive > div:nth-child(1) > div:nth-child(1) > img {
  height: 400px !important;
  object-fit: cover;
  width: 100% !important;
}
.overview > .responsive > div:nth-child(2) {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: start;
}
.overview .primary-button {
  background-color: var(--primary-orange);
  border: 0px;
  color: var(--primary-black);
}

.overview .primary-button:hover {
  background-color: var(--white);
}

@media screen and (min-width: 992px) {
  .overview {
    min-height: 700px;
    background-color: var(--white);
    display: flex;
    align-items: center;
  }
  .overview > .responsive {
    background-color: var(--white);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .overview > .responsive > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    min-height: 500px;
  }

  .overview > .responsive > div:nth-child(1) > div:nth-child(1) {
    height: auto;
    width: 40%;
    display: block;
  }

  .overview > .responsive > div:nth-child(1) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 24px;
    width: 60%;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .overview > .responsive > div:nth-child(1) > div:nth-child(1) > img {
    min-height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .overview > .responsive > div:nth-child(2) {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
  }
  .overview .primary-button {
    background-color: var(--primary-orange);
    border: 0px;
    color: var(--primary-black);
  }

  .overview .primary-button:hover {
    background-color: var(--white);
  }
}
