.headers {
  min-height: 700px;
  background-color: var(--primary-black);
  background-image: url("../../../../assets//images/oil-and-gas-feature-04.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.headers > div {
  background-color: #00000080;
  min-height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headers  .responsive {
    color: var(--white);
    height: 70%;
}
.headers .responsive > div > button:nth-child(1){
  background-color: var(--primary-orange);
  color: var(--primary-black);
  border: 0px;
}
.headers .responsive > div > button:nth-child(2){
  margin-left: 10px;
  background-color: #00000000;
}

.headers button{
  font-weight: 600;
}
.headers .responsive > div > button:hover{
  background-color: var(--white);
}
.headers .responsive > div {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.headers .responsive > h1:nth-child(1){
  width: 100%;
}

.headers .responsive > p:nth-child(2){
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 200px) {
  .headers .responsive > div {
    width: 100%;
    display: flex;
    min-height: 150px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  .headers {
    min-height: 550px !important;
    background-color: var(--primary-black);
    background-size: 100% 100%;
  }
  
  .headers > div {
    background-color: #00000080;
    min-height: 550px !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .headers  .responsive {
      color: var(--white);
      height: 70%;
  }
  .headers .responsive > div > button:nth-child(1){
    background-color: var(--primary-orange);
    color: var(--primary-black);
    margin-left: 0px;
    border: 0px;
  }
  
  .headers button{
    font-weight: 600;
  }
  .headers .responsive > div > button:hover{
    background-color: var(--white);
  }
  .headers .responsive > div {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .headers .responsive > h1:nth-child(1){
    width: 100%;
  }
  
  .headers .responsive > p:nth-child(2){
    width: 70%;
    font-size: 28px;
    line-height: 42px;
    font-weight: 500;
  }
  
}