.service_header {
  min-height: 600px;
  background-color: var(--primary-black);
  background-image: url("../../../../assets//images/services.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: var(--white);
}

.service_header > div {
  background-color: #00000095;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service_header h1 {
  width: 100%;
}
.button-holder{
  margin: 20px 0px 20px 0px;
}
.button-holder .primary-button{
  background-color: var(--primary-orange);
  color: var(--primary-black);
}
.button-holder .primary-button:hover{
  background-color: #00000000;
  color: var(--primary-orange);
}

@media screen and (min-width: 992px) {

  .service_header {
    min-height: 600px;
  }
  
  .service_header > div {
    background-color: #00000080;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .service_header h1 {
    width: 100%;
    line-height: 65px;
    font-size: 48px;
  }
}