.footer {
  background-color: var(--secondary-black);
  color: var(--white);
  min-height: 900px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Poppins;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 900px;
}
.footer-wrapper > div {
  width: 99%;
  border-right: 0.01px var(--white) solid;
  border-bottom: 0.01px var(--white) solid;
  height: 350px;
}
.img-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-holder > img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
}
.footer-links {
  padding-left: 40px;
  padding-right: 40px;
}
.footer-links > p {
  text-align: center;
  font-weight: 500;
  font-family: Poppins;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 18px;
}
.footer-links > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.footer-links > div:nth-child(3) {
  margin-top: 20px;
}

.getInTouch > p {
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
}
.copyright {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 8px;
  line-height: 12px;
  opacity: 0.8;
}

.page-links {
  padding: 0px 20px 0px 20px;
  gap: 0px;
  opacity: 0px;
  width: 100%;
}

.page-links > p {
  min-height: 40px;
  text-align: center;
  width: max-content;
  padding: 7.5px 10px 7.5px 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.page-links > p:hover {
  background-color: var(--white);
  color: var(--secondary-black);
  cursor: pointer;
}
.footer-links > div:nth-child(3) {
  gap: 16px;
  opacity: 0.8;
}
.footer-links > div:nth-child(3) > p {
  padding: 16px 20px 16px 20px;
  font-size: 8px;
  line-height: 12px;
}
.socials img{
  width: 25px;
  height: 25px;
  object-fit: contain;
}
@media screen and (max-width: 400px) {
  .page-links {
    width: 100%;
    padding: 0px 10px 0px 10px;
  }
  .footer-links {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    min-height: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 400px;
  }
  .footer-wrapper > div {
    width: 33.333333333333333333%;
    border-right: 0.01px var(--white) solid;
    border-bottom: 0.01px var(--white) solid;
    min-height: 400px;
  }
  .img-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .img-holder > img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .footer-links {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-left: 0%;
  }
  .footer-links > p {
    text-align: center;
    font-weight: 500;
    font-family: Poppins;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
  }
  .footer-links > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-links > div:nth-child(3) {
    margin-top: 20px;
  }

  .getInTouch > p {
    text-align: center;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 36px;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
  }
  .copyright {
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    opacity: 0.8;
  }
  .page-links {
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
  }
  .page-links > p {
    min-height: 40px;
    text-align: center;
    width: max-content;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
  }

  .page-links > p:hover {
    background-color: var(--white);
    color: var(--secondary-black);
    cursor: pointer;
  }
  .footer-links > div:nth-child(3) {
    padding: 16px 20px 16px 20px;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #efefef;
    margin-top: 0px;
  }
  .footer-links > div:nth-child(3) > p {
    padding: 0px;
    font-size: 16px;
    line-height: 24px;
  }
}
