:root {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  --black: #00000080;
  --blue: #1e90ff;
  --primary-black: #242020;
  --secondary-black: #272323;
  --white: #F7F9FB;
  --primary-orange: #FFC60B;

}

body{
  font-family: Poppins;
}

.responsive{
  width: 96%;
  margin-left: 2%;
}


@media  screen and (min-width:992px) {
  .responsive{
    width: 960px;
    margin-left: calc(50% - 480px);
  }
}

@media  screen and (min-width:1200px) {
  .responsive{
    width: 1180px;
    margin-left: calc(50% - 590px);
  }
}

@media  screen and (min-width:1400px) {
  .responsive{
    width: 1350px;
    margin-left: calc(50% - 675px);
  }
}

@media  screen and (min-width:1600px) {
  .responsive{
    width: 1550px;
    margin-left: calc(50% - 775px);
  }
}

@media  screen and (min-width:1800px) {
  .responsive{
    width: 1750px;
    margin-left: calc(50% - 875px);
  }
}