:root {
  font-family: Poppins;
  font-weight: 600;
  --black: #00000080;
  --blue: #1e90ff;
  --primary-black: #242020;
  --secondary-black: #272323;
  --white: #f7f9fb;
  --primary-orange: #ffc60b;
}

body {
  font-family: Poppins;
}
.primary-button {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 12px;
  border: 1px var(--primary-orange) solid;
  opacity: 0px;
  color: var(--primary-orange);
  background-color: var(--primary-black);
}
.primary-button:hover {
  background-color: var(--primary-orange);
  color: var(--primary-black);
}

.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.normal-1 {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}
.extra-bold {
  font-weight: 700;
}
.big-bold {
  font-weight: 600;
}
.font-medium {
  font-size: 16px;
}
.font-more-medium {
  font-size: 12px;
  line-height: 18px;
}
.font-merge {
  font-size: 12px;
  line-height: 18px;
}
.font-large {
  font-size: 14px;
  line-height: 21px;
}
.font-extralarge {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
}

.responsive {
  width: 96%;
  margin-left: 2%;
}

@media screen and (min-width: 992px) {
  .primary-button {
    height: 64px;
    padding: 20px 28px 20px 28px;
    border-radius: 30px;
    border: 1px var(--primary-orange) solid;
    opacity: 0px;
    font-size: 16px;
    color: var(--primary-orange);
    background-color: var(--primary-black);
  }
  .primary-button:hover {
    background-color: var(--primary-orange);
    color: var(--primary-black);
  }

  .light {
    font-weight: 300;
  }
  .normal {
    font-weight: 400;
  }
  .normal-1 {
    font-weight: 500;
  }

  .bold {
    font-weight: 600;
  }
  .extra-bold {
    font-weight: 700;
  }
  .big-bold {
    font-weight: 800;
  }
  .font-medium {
    font-size: 18px;
    font-family: Poppins;
    line-height: 36px;
  }
  .font-more-medium {
    font-size: 26px;
    line-height: 48px;
  }
  .font-merge {
    font-size: 18px;
    line-height: 36px;
  }
  .font-large {
    font-size: 38px;
    line-height: 62px;
  }
  .font-extralarge {
    font-size: 44px;
    line-height: 68px;
  }

  .responsive {
    width: 960px;
    margin-left: calc(50% - 480px);
  }
}

@media screen and (min-width: 1200px) {
  .responsive {
    width: 1180px;
    margin-left: calc(50% - 590px);
  }
}

@media screen and (min-width: 1400px) {
  .responsive {
    width: 1350px;
    margin-left: calc(50% - 675px);
  }
}

@media screen and (min-width: 1600px) {
  .responsive {
    width: 1550px;
    margin-left: calc(50% - 775px);
  }
}

@media screen and (min-width: 1800px) {
  .responsive {
    width: 1750px;
    margin-left: calc(50% - 875px);
  }
}
