.nav{
    background-color: var(--secondary-black);
    color: var(--white);
    min-height: 140px;
    font-weight: 600;
}
.nav-holder{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.img-holder > img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}

.links > p{
    height: calc(100%);
    text-align: center;
    width: max-content;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
}

.links > p:hover{
    cursor: pointer;
    border-bottom: 2px var(--primary-orange) solid;
}